

<div class="bar-container">
  <mat-chip-option
    highlighted
    [selectable]="false"
    class="trigger-btn selected">
    {{activePageIndex + 1}}
  </mat-chip-option>

  <div class="pages-bar">
    <mat-chip-listbox
      hideSingleSelectionIndicator
      (change)="changePage(bar.value)"
      #bar>
      <mat-chip-option
        *ngFor="let page of pages; let i = index"
        [value]="i"
        class="page-btn"
        [selected]="activePageIndex === i"
        [class.selected]="activePageIndex === i"
        [selectable]="activePageIndex !== i"
        [matTooltip]="activePageIndex !== i ? page.title : ''">
        {{ i + 1 }}
      </mat-chip-option>
    </mat-chip-listbox>

    <mat-chip class="new-page-btn" (click)="createNewPage()" *ngIf="pages.length < 6">
      <span class="new-page-content">+</span>
    </mat-chip>
  </div>


</div>
